.bg-form{
    -fx-background-color: #fff;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover{
    -fx-background-color: #c5273f;
}

.minimize{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover{
    -fx-background-color: #dadada;
}

.textfield{
    -fx-background-color: transparent;
    -fx-text-inner-color: #000000;
    -fx-border-color: #080808;
    -fx-border-width: 0px 0px .4px 0px;
    -fx-text-size: 13px;
}

.textfield:focused{
    -fx-border-color: #008800;
    -fx-border-width: 0px 0px 1px 0px
}

.login-btn{
    -fx-background-color: #008800;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.login-btn:hover{
    -fx-background-color: #006600;
}

.hyperlink{
    -fx-underline: false;
    -fx-text-fill: #080808;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.hyperlink:hover{
    -fx-text-fill: #008800;
}

.signup-btn{
    -fx-background-color: #008800;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
}

.signup-btn:hover{
    -fx-background-color: #006600;
}